<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bhavin_gdpr>
            <general>
                <checkout_shipping_form>1</checkout_shipping_form>
                <checkout_billing_form>1</checkout_billing_form>
                <customer_registration_form>1</customer_registration_form>
                <customer_profile_form>1</customer_profile_form>
                <customer_address_form>1</customer_address_form>
                <subscription_form>1</subscription_form>
                <contact_form>1</contact_form>
                <product_review_form>1</product_review_form>
            </general>
        </bhavin_gdpr>
    </default>
</config>
