<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bhavin" translate="label" sortOrder="400">
            <label>Bhavin</label>
        </tab>
        <section id="bhavin_gdpr" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>GDPR</label>
            <tab>bhavin</tab>
            <resource>Bhavin_GDPR::gdpr</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="contact_form" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Eneble on Contact Form</label>
                    <comment>Enable/Disable GDPR Module on Contact Form.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="checkout_shipping_form" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Eneble on Checkout Shipping</label>
                    <comment>Enable/Disable GDPR Module on Checkout Shipping Form.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="checkout_billing_form" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Eneble on Checkout Billing</label>
                    <comment>Enable/Disable GDPR Module on Checkout Billing Form.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_registration_form" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Eneble on Customer Registration</label>
                    <comment>Enable/Disable GDPR Module on Customer Registration Form.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_profile_form" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Eneble on Customer Profile</label>
                    <comment>Enable/Disable GDPR Module on Customer Profile Form.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_address_form" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Eneble on Customer Address</label>
                    <comment>Enable/Disable GDPR Module on Customer Address Form.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="subscription_form" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Eneble on Newsletter</label>
                    <comment>Enable/Disable GDPR Module on Newsletter Form.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
